
<html>
<head>
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="content">
          <img src="/static/textBtn.png">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="content">
          <img src="/static/videoBtn.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="/static/tempBtn.png">
      </div>
      <div class="col-xs-12 col-md-6">
        <img src="/static/vUpBtn.png">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img src="/static/carBtn.png">
      </div>
      <div class="col-xs-12 col-md-6">
          <img src="/static/statBtn.png">
      </div>
    </div>
</div>

</body>
</html>
