{% extends "header.html" %}

{% block body %}
<body>
  <div class="container-fluid">
    <div class="row" style="padding:10px;">
      <div class="col-xs-12 col-md-6">
        <div class="content">
          <a href="/textupload" title=""><img src="/static/images/textBtn.png"></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="content">
          <a href="/textupload" title=""><img src="/static/images/videoBtn.png"></a>
        </div>
      </div>
    </div>
    <div class="row" style="padding:10px;">
      <div class="col-xs-12 col-md-6">
        <a href="/" title=""><img src="/static/images/tempBtn.png"></a>
      </div>
      <div class="col-xs-12 col-md-6">
      <a href="/" title="">  <img src="/static/images/vUpBtn.png"></a>
      </div>
    </div>
    <div class="row" style="padding:10px;">
      <div class="col-xs-12 col-md-6">
        <a href="/carouselchange" title=""><img src="/static/images/carBtn.png"></a>
      </div>
      <div class="col-xs-12 col-md-6">
          <a href="/analyticstestpage" title=""><img src="/static/images/statBtn.png"></a>
      </div>
    </div>
</div>
</body>
{% endblock %}
