{% extends "header.html" %}

{% block body %}
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="content">
          <a href="/textupload" title=""><img src="/static/textBtn.png"></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="content">
          <a href="/textupload" title=""><img src="/static/videoBtn.png"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a href="/" title=""><img src="/static/tempBtn.png"></a>
      </div>
      <div class="col-xs-12 col-md-6">
      <a href="/" title="">  <img src="/static/vUpBtn.png"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a href="/" title=""><img src="/static/carBtn.png"></a>
      </div>
      <div class="col-xs-12 col-md-6">
          <a href="/analyticstestpage" title=""><img src="/static/statBtn.png"></a>
      </div>
    </div>
</div>
</body>
{% endblock %}
