<html>
<head>
  <title>Upload a new story</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>
<body>

<div class="center">
  <label>What type of story are you uploading?</label>
</div>
<div class="right">
  <form action="/videoupload">
  <button class="button"><span>Video</span></button>
</form>
</div>

<div class="left">
  <form action="/textupload">
    <button class="button"><span>Text</span></button>
  </form>
</div>
  
<div class="left vertical">
  <h1>Hello</h1>
</body>
</html>
