{% extends "header.html" %}

{% block body %}
{% if session.get('status', None) != "admin": %}
      return redirect(url_for('403'))
{% endif %}
<body>
<div class="container">
<h3>Change carousel images</h3>
<p>Images must be something x something</p>
<p>instructions on how to change the images resolution can be found here</p>
<form method="post">
  <input id="input-b2" name="input-b2" type="file" class="file" data-show-preview="false">
  <fieldset>
    <div class"form-group">
      <input class="form-control" type="text" name="url" placeholder="URL to link image to">
    </div>
    <button class="btn btn-primary" value="submit">Submit</button>
    <a href="/admin" class="btn btn-secondary" role="button">Back to admin home</a>
  </fieldset>
</form>
</div>
</body>
{% endblock %}
