<html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115870719-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115870719-1');
</script>


  <title>Napier Placement Stories</title>
  <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script defer src="/static/fontawesome/fontawesome-all.js"></script>
  <script src="static/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="static/js/bootstrap.js"></script>
  <link type="text/css" rel="stylesheet" href="{{url_for('static/css', filename='bootstrap.css')}}"/>

  <!-- Carousel -->
  <!-- <script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 3000
      })
    });
  </script> -->
  <!--<link href="static/fonts/Titillium/Titillium-Regular.otf" rel="hgfds">-->
</head>

<!-- Creates the banner!-->
<header>
  <a href="/">
    <img class="img-fluid" src="/static/images/headerPlaceHolder.png">
  </a>
</header>

{% if session.get('status', None) == "admin": %}
<div class="row">
  <div class=col>
  </div>
  <div class=col>
    <h4 style="text-align:center; background-color:#D94E42; background-border:solid;">Admin Logged In</h4>
  </div>
  <div class=col>
  </div>
</div>
{% endif %}

{% if session.get('status', None) == "User": %}
    <h3>user</h3>
{% endif %}
<body>
  <!doctype html>
  <title>Placement webiste</title>
  <div class="container" align="center"> <!-- style="min-height:100%" -->
   {% with messages = get_flashed_messages() %}
     {% if messages %}
       {% for message in messages %}
         <div class="alert alert-warning alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           {{message}}
         </div>
       {% endfor %}
     {% endif %}
   {% endwith %}
 </div>


{% block body %}
<!--Keep Empty, this is where the content from each page will be held !-->
{% endblock %}
<script>
(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));
</script>
</body>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Admin login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Hello</h2>
        <p>Please Enter Password Below</p>
        <p data-toggle="modal" data-target="#exampleModal2" data-dismiss="modal">Cick me to request access</p>
       <form action="{% print url_for('login') %}" class ="form-inline" method="post">
          <input type = "password" class = "form-control" placeholder="Password" name = "passwd">
          <input class ="btn btn-default" type = "submit" value = Login>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal2Label">Access request form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% print url_for('Send') %}" class ="form-inline" method="post">
          <input type = "email" class = "form-control" placeholder="Email" name = "email">
          <input class ="btn btn-default" type = "submit" value = Send>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>
      </div>
    </div>
  </div>
</div>
<a href="/morestories">
  <img src="static/images/insta.png" class="img-responsive fa-pull-right" width="10%" height="10%">
</a>
<!--This creates the footer !-->
<div class="footer" style="background-color:lightgrey; padding-top:1%; margin-top:1%;">
  <!-- <div class="navbar navbar-default navbar-fixed-bottom"> -->
    <div class="container">
      <div class="row">
        <div class="col-sm" style="text-align:center;">
          <a href="https://www.napier.ac.uk" class="text-muted">© 2018 - Edinburgh Napier University</a>
        </div>
        <div class="col-sm" style="text-align:center;">
          <p class="text-muted">
          <a class="text-muted" href="/">Home</a>
            //
          <a class="text-muted"href="/about">About</a>
        </p>
        </div>
        <div class="col-sm" style="text-align:center;">
          {% if session.get('status', None) != "admin": %}
            <button type="button" class="btn btn-secondary" style="margin-top:-1.8%; text-align:center;" data-toggle="modal" data-target="#exampleModal">Admin Login</button>
          {% endif %}
          {% if session.get('status', None) == "admin": %}
            <a href="/logout" class ="btn btn-secondary"  style="margin-top:-1.8%;">Logout</a>
            <a href="/admin"><i class="fas fa-id-card" style="margin-bottom:1%;" title="Return to the admin homepage"></i></a>
          {% endif %}
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>






</html>
