<html>
<head>
  <title>Napier Placement Stories</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script defer src="/static/fontawesome/fontawesome-all.js"></script>
  <script src="static/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <script src="static/js/bootstrap.js"></script>

  <!-- Carousel -->
  <!-- <script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 3000
      })
    });
  </script> -->
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="hgfds">
</head>

<!-- Creates the banner!-->
<header>
  <a href="/">
    <h1>Enhanced Placement Stories</h1>
  </a>
</header>

{% if session.get('status', None) == "admin": %}
    <h3>Logged in as Admin</h3>
{% endif %}

{% if session.get('status', None) == "User": %}
    <h3>user</h3>
{% endif %}
<body>
  <!doctype html>
  <title>Placement webiste</title>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


{% block body %}
<!--Keep Empty, this is where the content from each page will be held !-->
{% endblock %}
</body>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Admin login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Hello</h2>
        <p>Please Enter Password Below</p>
        <p>Password can be obtained from somewhere</p>
       <form action="{% print url_for('login') %}" class ="form-inline" method="post">
          <input type = "password" class = "form-control" placeholder="password" name = "passwd">
          <input class ="btn btn-default" type = "submit" value = login>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </form>
      </div>
    </div>
  </div>
</div>

<!--This creates the footer !-->
<footer class="footer" style="background-color:lightgrey;">
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <!-- Footer text!-->
      <!-- this line will centre the text, but move the icons <div class="container text-center"> !-->
      <div class="col-md-6">
      <a href="https://www.napier.ac.uk" class="text-muted">© 2018 - Edinburgh Napier University</a>
    </div>
      <!-- Creates the login modal !-->
      <!--  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Admin Login</button> !-->
      <div class="col-md-sm social-badge">
      {% if session.get('status', None) != "admin": %}
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Admin Login</button>
      {% endif %}
      {% if session.get('status', None) == "admin": %}
          <a href="/logout" class ="btn btn-secondary">Logout</a>
          <a href="/admin"><i class="fas fa-id-card" title="Return to the admin homepage"></i></a>
      {% endif %}
        <a href="https://www.instagram.com/edinburghnapierplacements/?hl=en"><i class="fab fa-instagram" title="View our instagram"></i></a>
        <a href="/"><i class="fas fa-home fa-fw" title="Return to the homepage"></i></a>
    </div>
    <!--  <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>!-->
    </div>
  </div>
</footer>






</html>
