{% extends "header.html" %}

{% block body %}
<body>
<!-- Start of corousel code !-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="https://www.napier.ac.uk/about-us/our-location/our-campuses/merchiston" title=""><img class="d-block w-100" src="static/images/merch.jpg" alt="First slide"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Merchiston</h5>
        <p>Computing,Photography,Engineering</p>
      </div>
    </div>
    <div class="carousel-item">
      <a href="https://www.napier.ac.uk/about-us/our-location/our-campuses/sighthill" title=""><img class="d-block w-100" src="static/images/sight.jpg" alt="Second slide"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Sighthill</h5>
        <p>Sports,Nursing</p>
      </div>
    </div>
    <div class="carousel-item">
        <a href="https://www.napier.ac.uk/about-us/our-location/our-campuses/craiglockhart" title=""><img class="d-block w-100" src="static/images/craig.jpg" alt="Third slide"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>Craiglochhart</h5>
        <p>Business</p>
      </div>
    </div>
  </div>
</div>
<!-- Loading and sizing the banner !-->
<a href="/morestories">
  <img class="img=fluid" src="static/b6.png" class="img-responsive rounded" width="100%" height="45%">
</a>
<div class="row">
  {% for d in data %}
  <div class="col" style="margin-right:2.5%; margin-left:2.5%;">
    <a href="/story/{% print(data[d]['Title']) %}/">
      <img src="/static/testimage/{% print(data[d]['filename']) %}" style="margin-bottom:2%; margin-top:2%; width:250px; height:250px;">
    </a>
  </div>
  {% endfor %}
</div>
<div class="row">
  {% for vid in viddata %}
  <div class="col" style="margin-right:2.5%; margin-left:2.5%;">
    <a href="/{% print(viddata[vid]['videoTitle']) %}/">
      <img src="/static/testimage/{% print(viddata[vid]['filename']) %}" style="width:250px; height:250px;">
    </a>
  </div>
  {% endfor %}
</div>
  <a href="/morestories">
    <img class="img-fluid" src="static/engBanner.png" class="img-responsive rounded" width="100%" height="45%">
  </a>
  <h3>Top Stories From The School of Engineering & The Built Envionment</h3>


<hr / >
<h3 style="text-align:center;">Social Media</h3>
<table style="width:100%; padding-bottom:5%;">
  <tr>
  <td style="width:33.33%">
  </td>
  <td style="width:33.33%">
    <a href="https://www.instagram.com/edinburghnapierplacements/?hl=en">
    <img style="width:50px; height:50px; margin-left:45%;" src="/static/images/insta.png">
  </a>
  </td>
  <td style="width:33.33%">
  </td>
  </tr>
</table>

<script type="text/javascript" id="cookieinfo"
	src="//cookieinfoscript.com/js/cookieinfo.min.js">
</script>


</body>
{% endblock %}
