<html>
<head>
  <title>Napier placement stories</title>
  <link href="static/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
  		<p>life is a highway</p>
	</div>

	<footer class="footer" style="background-color:lightgrey;">
		<div class="container">
  			<span class="text-muted align-middle">This sweet-ass site was designed by "The Boys"</span>
  			<button class="btn btn-primary" style="float:right;">Admin Login</button>
		</div>
	</footer>
</body>
</html>
