{% extends "header2.html" %}

{% block body %}

	<BODY>
		<div class="container">
    <div class="col-md-4">
        <div class="pdf-thumb-box"> <a href="/g">
                <div class="pdf-thumb-box-overlay"><span class="fa-stack fa-lg">
									  <h2>Story name</h2>
										<p>Short description</p>
    <i class="fa fa-square-o fa-stack-2x pdf-thumb-square"></i>
    <i class="fa fa-eye fa-stack-1x pdf-thumb-eye"></i>
</span></div>
                <img class="img-responsive" src="http://i.imgur.com/Cn1ev16.jpg" alt="2013 Genel Katalog">
            </a>
        </div>
        <div class="vertical-social-box"></div>
    </div>

</div>
	</BODY>
{% endblock %}
