{% extends "header.html" %}

{% block body %}
<body>

<div class="container">
<h3>Upload a Story!</h3>
<fieldset>
  <div class"form-group">
    <input class="form-control" type="text" name="Title" placeholder="Title">
  </div>
  <p>Check Out The Templates(LINK)To See How The Page Will Be Set Up</p>
  <div class"form-group">
    <textarea class="form-control" type="text" name="StoryPara" placeholder="Paragragh One" rows="3"></textarea>
  </div>
  <div class"form-group">
    <textarea class="form-control" type="text" name="StoryParaTwo" placeholder="Paragragh Two" rows="3"></textarea>
  </div>
  <div class"form-group">
    <textarea class="form-control" type="text" name="StoryParaThree" placeholder="Paragragh Three" rows="3"></textarea>
  </div>
  <div class"form-group">
    <textarea class="form-control" type="text" name="StoryParaFour" placeholder="Paragragh Four" rows="3"></textarea>
  </div>
  <div class"form-group">
    <input class="form-control" type="text" name="Quote" placeholder="Quote">
  </div>
  <button class="btn btn-primary" value="Submit">Submit</button>
</fieldset>
</div>
</body>
{% endblock %}
