{% extends "header.html" %}

{% block body %}
<body>

<div class="container">
<h3>Upload a Story!</h3>
<form method=post enctype=multipart/form-data>
  <fieldset>
    <form class = "form-inline">
      <input type = "text" class = "form-control" placeholder = "Story Title" name = "Title">
      <p></p>
      <textarea  type ="text" class ="form-control" placeholder ="Paragragh One" name ="StoryPara" rows = "3"></textarea>
      <p></p>
      <textarea type ="text" class ="form-control" placeholder ="Paragragh Two" name ="StoryParaTwo" rows = "3"></textarea>
      <p></p>
      <textarea type ="text" class ="form-control" placeholder ="Paragragh Three" name ="StoryParaThree" rows = "3"></textarea>
      <p></p>
      <textarea type ="text" class ="form-control" placeholder ="Paragragh Four" name ="StoryParaFour" rows = "3"></textarea>
      <p></p>
      <input type="text" class="form-control" placeholder="Quote" name="Quote">
      <p></p>
      <input type=file name=filename multiple>
      <p></p>
      <input class="btn btn-default" type="Submit" value="Submit">
      <p></p>
    <a href="/admin" class="btn btn-secondary" role="button">Back To Admin Home</a>
  </fieldset>
</form>
</div>
</body>
{% endblock %}
