{% extends "header.html" %}

{% block body %}
<body>

<div class="container">
<h3>Upload a Story!</h3>
<form method="post">
  <fieldset>
    <form action = "{{url_for('text')}}" class = "form-inline" method = "post">
      <input type = "text" class = "form-control" placeholder = "" name = "title" value = "{{request.form.title}}">
      <textarea  type ="text" class ="form-control" placeholder ="Paragragh One" name ="StoryPara" rows = "3"></textarea>
      <textarea type ="text" class ="form-control" placeholder ="Paragragh Two" name ="StoryParaTwo" rows = "3" value = "{{request.form.para_two}}"></textarea>
      <textarea type ="text" class ="form-control" placeholder ="Paragragh Three" name ="StoryParaThree" rows = "3" value = "{{request.form.para_three}}"></textarea>
      <textarea type ="text" class ="form-control" placeholder ="Paragragh Four" name ="StoryParaFour" rows = "3" value = "{{request.form.para_Four}}"></textarea>
      <input type="text" class="form-control" placeholder="Quote" name="Quote" value = "{{request.form.quote}}">
      <input type=file name="photos">
      <input class = "btn btn-default" type = "submit" value = "Submit Story">
    <a href="/admin" class="btn btn-secondary" role="button">Back to admin home</a>
  </fieldset>
</form>
</div>
</body>
{% endblock %}
