{% extends "header.html" %}

{% block body %}
<body>
  <h2 class="text-center">Video upload 101</h2>
<p>To upload a video story to the site, we require the video to be uploaded to vimeo, and its embed code. </p>

<p>Firstly, log into Vimeo [USING A NAPIER ACCOUNT?], and click upload.</p>

<img src="static/article.jpg" class="rounded pull-right img-responsive" style="margin: auto; display: block;">
<p>Next, find the video on your PC, and either drag it to the upload section, or search for it by clicking "Search for files" </p>

<p> After the video is uploaded, its time to get the embed code. The embed code can be found by hitting "Share" underneath the player, and is located in the box marked "embed".</p>

<img src="static/article.jpg" class="rounded pull-right img-responsive" style="margin: auto; display: block;">

<p> Once you have copied the embed code, head back to [PLACEHOLDER] and paste it into the box marked "Embed code"</p>

<p>Once thats done, hit Upload and your all set!</p>
</body>
{% endblock %}
