{% extends "header.html" %}

{% block body %}
<body>

<div class="container">
<h3>Upload a Video!</h3>
<form method=post enctype=multipart/form-data>
  <fieldset>
    <form class = "form-inline">
      <input type = "text" class = "form-control" placeholder = "Story Title" name = "videoTitle">
      <p></p>
      <input type = "text" class = "form-control" placeholder = "Embed Link" name = "videoEmbed">
      <p></p>
      <textarea type ="text" class ="form-control" placeholder ="Paragragh One" name ="videoPara" rows = "3"></textarea>
      <p></p>
      <p>School:</p>
      <select class="form-control" name="videoSchoolSelect">
        <option>School of Computing</option>
        <option>School of Engineering and Built Environment</option>
        <option>School of Business</option>
        <option>School of Applied Sciences</option>
        <option>School of Arts and Creative Industries</option>
        <option>School of Health and Social Care</option>
      </select>
      <p></p>
      <input type="text" class="form-control" placeholder="Quote" name="videoQuote">
      <p></p>
      <input type=file name=filename>
      <p></p>
      <input class="btn btn-default" type="Submit" value="Submit">
      <p></p>
    <a href="/admin" class="btn btn-secondary" role="button">Back To Admin Home</a>
  </fieldset>
</form>
</div>
</body>
{% endblock %}
